<%= render "shared/admin/nav", { header_title: "Jobs" } do %>
  <%= render "shared/admin/create_dropdown" %>
<% end %>

<div class="container mx-auto sm:my-16 my-10 px-4 sm:px-2">
  <div class="flex items-center mb-6 mt-10">
    <div class="h-px w-1/2 bg-gradient-to-l from-slate-200 dark:from-slate-600"></div>
    <h2 class="text-base text-slate-600 font-semibold px-4 whitespace-nowrap dark:text-slate-300">All Jobs</h2>
    <div class="h-px w-1/2 bg-gradient-to-r from-slate-200 dark:from-slate-600"></div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 my-4">
    <% @jobs.each do |job| %>
      <%= link_to job_path(job), class: "md:col-span-6 col-span-1 lg:col-span-3 sm:col-span-6 border border-slate-300/80 hover:border-slate-400/70 dark:hover:border-slate-300/40 rounded-lg shadow-sm p-4 focus:ring-4 focus:ring-slate-200/50 dark:focus:ring-slate-200/10 bg-white group dark:bg-slate-800 dark:border-slate-600" do %>
        <h2 class="text-base mb-2 line-clamp-1 text-slate-800 dark:text-slate-200 leading-snug group-hover:text-primary-600 dark:group-hover:text-primary-300 font-bold">
          <%= job.title %>
        </h2>
        <p class="mb-4 text-sm text-slate-600 dark:text-slate-300 line-clamp-2">
          <%= job.description %>
        </p>
        <div class="flex justify-between items-center">
          <span class="text-sm text-slate-500 dark:text-slate-400">
            <%= job.created_at %>
          </span>
          <span class="text-sm font-semibold text-primary-600 dark:text-primary-400">
            <%= job.created_at %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="py-10 sm:flex sm:space-x-6 space-y-3 sm:space-y-0">
    <%= link_to "View archived jobs", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
    <%= link_to "Job settings", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
    <%= link_to "Notification settings", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
  </div>
</div>